<h2>Overview</h2>

<style type="text/css">
tbody {
  color:#dddddd;
}a {
  color:#ddd;
}
</style>
<table>
  <!-- <thead>
    <tr>
      <th></th>
      <th>Plant</th>
      <th>Message</th>
    </tr>
  </thead> -->

  <tbody>
    <% @todos.each_with_index do |todo, i| %>
      <tr  class="<%= todo.priority %>">
        <td class="donebutton"><%= button_to 'Done', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to todo.plant.name, todo.plant, style:'color:#ddd;' %></td>
        <td><%= todo.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</tbody>