.alert_fade_show {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#red {
    background-color: red;
}
#whiteish {
    background-color: #f5f5f5;
    color: #0088cc !important;
}
#whiteish:hover {
    background-color: #eeeeee;
    color: #005580 !important;
}

.setting {
    margin-right: 10px;
}

ul {
    list-style-type:none; 
}

.todo {

      display:inline-block;margin-right: 10px;
}

.notifications {
    display:inline-block;margin-right: 10px;

}

.timeleft {
    display:inline-block;
}

.todo_list {
    margin-bottom: 20px;
}

#image_container { width:600px; overflow:hidden; }
#image_container img { width:150px; margin:5px; float:center; display:inline; }
.class-name {
    visibility: none;
}


